<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>

<div class="card">
    <div class="card-header">
        <h4>{{ title }}</h4>
    </div>
    <div class="card-body">
        <div id="{{ title.split|join:'-' }}-chart"></div>
    </div>
</div>

<script>
    new Chart(document.getElementById("{{ title.split|join:'-' }}-chart").getContext("2d"), {
        type: "line",
        data: {
            labels: {{weekdays | safe}},
            datasets: [
                {
                    label: "Total Count",
                    backgroundColor: "#2d2b55",
                    borderColor: "#417690",
                    data: {{ data | safe }}
                }
            ]
        },
        options: {
            title: {
                text: "{{ title }}",
                display: true
            }
        }
    })

</script>
