{% load i18n admin_urls static admin_list %}

{% block result_list %}
    {% if users %}
        <table class="table table-xs table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.email }}</td>
                    <td><!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#documentsModal{{ user.pk }}{{ user.user_type }}">
                            View Documents
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="documentsModal{{ user.pk }}{{ user.user_type }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ user.full_name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="carouselExampleIndicators" class="carousel slide"
                                             data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                {% for doc in user.profile.documents.all %}
                                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                                            {% if forloop.first %}class="active"
                                                            aria-current="true"{% endif %}
                                                            aria-label="Slide {{ forloop.counter }}"></button>
                                                {% endfor %}
                                            </div>
                                            <div class="carousel-inner">
                                                {% for doc in user.profile.documents.all %}
                                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                        <img src="{{ doc.image.url }}"
                                                             class="d-block w-100" alt="...">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <a
                                                class="btn btn-primary"
                                                href="{% url 'verification' %}?user_type={{ user.user_type }}&user_id={{ user.pk }}&response=1"
                                        >
                                            Accept</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a
                                class="btn btn-outline-success"
                                href="{% url 'verification' %}?user_type={{ user.user_type }}&user_id={{ user.pk }}&response=1"
                        >
                            Accept</a>
                        <a
                                class="btn btn-outline-danger"
                                href="{% url "verification" %}?user_type={{ user.user_type }}&user_id={{ user.pk }}&response=0"
                        >
                            Decline</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
