{% extends "base.html" %}
{% load i18n static %}

{% block extra_head %}
    <script type="text/javascript">
        let CUSTOMERS_LIST_JSON_URL = '{% url "customers_list_json" %}';
        // translations for datatables

        let dt_language = {
            "emptyTable": "{% trans "No data available in table" %}",
            "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing": "{% trans "Processing..." %}",
            "search": "{% trans "Search:" %}",
            "zeroRecords": "{% trans "No matching records found" %}",
            "paginate": {
                "first": "{% trans "First" %}",
                "last": "{% trans "Last" %}",
                "next": "{% trans "Next" %}",
                "previous": "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending": "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
        $(document).ready(function () {
            $('#customer-datatable').dataTable({
                language: dt_language,  // global variable defined in html
                order: [[0, "desc"]],
                lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                columnDefs: [
                    {
                        data: 'id',
                        orderable: true,
                        searchable: true,
                        className: "center",
                    },
                    {
                        data: 'full_name',
                        orderable: true,
                        searchable: true,
                        className: "center",
                    },
                    {
                        data: 'phone_number',
                        orderable: true,
                        searchable: true,
                        className: "center"
                    },
                    {
                        data: 'email',
                        orderable: true,
                        searchable: true,
                        className: "center"
                    },
                    {
                        data: 'date_joined',
                        orderable: true,
                        searchable: true,
                        className: "center"
                    },
                ],
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: CUSTOMERS_LIST_JSON_URL
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Customers</h3>
                        <p class="text-subtitle text-muted">Control the customer data here.</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Customers</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                {% if users %}
                <div class="card">
                    <div class="card-header">
                        Customer Verification List
                    </div>
                    <div class="card-body">
                        {% include "admin_panel/includes/user_verification.html" %}
                    </div>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-header">
                        Verified Customers List
                    </div>
                    <div class="card-body">
                        <table id="customer-datatable" class="datatable table table-striped">
                            <thead>
                            <th>{% trans "ID" %}</th>
                            <th>{% trans "Full Name" %}</th>
                            <th>{% trans "Phone Number" %}</th>
                            <th>{% trans "E-mail" %}</th>
                            <th>{% trans "Date Joined" %}</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}