{% extends "base.html" %}
{% load static %}
<script src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>

{% block content %}
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h3>Profile Statistics</h3>
        </div>
        <div class="page-content">
            <section class="row">
                <div class="col-12 col-lg-9">
                    {# Stat box row #}
                    {% include 'admin_panel/includes/stats_counts.html' %}
                    {# Stat box row #}

                    <div class="row">
                        <div class="col-12">
                            {% include 'admin_panel/includes/dashboard_bar_chart.html' with title="New Users" data=new_users_this_week label=weekdays %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Ad Counts</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <svg class="bi text-primary" width="32" height="32" fill="blue"
                                                     style="width:10px">
                                                    <use xlink:href="{% static 'vendors/bootstrap-icons/bootstrap-icons.svg' %}#circle-fill"></use>
                                                </svg>
                                                <h5 class="mb-0 ms-3">Counts</h5>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h5 class="mb-0">862</h5>
                                        </div>
                                        <div class="col-12">
                                            <div id="chart-europe"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        new ApexCharts(document.querySelector("#chart-europe"), {
            series: [{
                name: 'series1',
                data: [310, 800, 600, 430, 540, 340, 605, 805, 430, 540, 340, 605]
            }],
            chart: {
                height: 80,
                type: 'area',
                toolbar: {
                    show: false,
                },
            },
            colors: ['#5350e9'],
            stroke: {
                width: 2,
            },
            grid: {
                show: false,
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                type: 'datetime',
                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z", "2018-09-19T07:30:00.000Z", "2018-09-19T08:30:00.000Z", "2018-09-19T09:30:00.000Z", "2018-09-19T10:30:00.000Z", "2018-09-19T11:30:00.000Z"],
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: false,
                }
            },
            show: false,
            yaxis: {
                labels: {
                    show: false,
                },
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        }).render()
    </script>
{% endblock %}

