{% extends "base.html" %}
{% load i18n static %}

{% block extra_head %}
    <script type="text/javascript">
        // translations for datatables
        let dt_language = {
            "emptyTable": "{% trans "No data available in table" %}",
            "info": "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty": "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered": "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing": "{% trans "Processing..." %}",
            "search": "{% trans "Search:" %}",
            "zeroRecords": "{% trans "No matching records found" %}",
            "paginate": {
                "first": "{% trans "First" %}",
                "last": "{% trans "Last" %}",
                "next": "{% trans "Next" %}",
                "previous": "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending": "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
        $(document).ready(function () {
            let table = $('#vehicle-categories-datatable').DataTable({
                language: dt_language,  // global variable defined in html
                order: [[0, "desc"]],
                lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
                columnDefs: [
                    {
                        data: 'id',
                        orderable: true,
                        searchable: true,
                        className: "center",
                    },
                    {
                        data: 'title',
                        orderable: true,
                        searchable: true,
                        className: "center",
                    },
                    {
                        data: 'commission',
                        orderable: true,
                        searchable: true,
                        className: "center"
                    },
                    {
                        targets: -1,
                        data: null,
                        defaultContent: "<button class='btn btn-outline-primary'>Update!</button>"
                    },
                ],
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: true,
                ajax: '{% url "vehicle_categories_list_json" %}',
            });
            $('#vehicle-categories-datatable tbody').on('click', 'button.btn-outline-primary', function () {
                window.location.href = window.location.href + table.row($(this).parents('tr')).data()[0]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Vehicles</h3>
                        <p class="text-subtitle text-muted">Control the vehicle data here.</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="col breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Vehicles</li>
                            </ol>
                            {% include "admin_panel/includes/modal_form.html" with form=form model="Vehicle Category" %}
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        Vehicles List
                    </div>
                    <div class="card-body">
                        <table id="vehicle-categories-datatable" class="datatable table table-striped">
                            <thead>
                            <th>{% trans "ID" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Commission" %}</th>
                            <th>{% trans "Update" %}</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}