<html lang="en">
<head>
    <title>D:\uploadedFiles\59e09f7814be638798a6c9b6f527cc-b0fea42181e0ad45\p1fqd9ckmholh1vob1ssi1lnfe3j4.pdf</title>
    <style type="text/css">
        <!--
        body {
            font-family: Arial, sans-serif;
            font-size: 22px
        }

        .pos {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0
        }

        -->
    </style>
</head>
<body>
<nobr>
    <nowrap>
        <div class="pos" id="_0:0" style="top:0">
            <img name="_1100:850" src="page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
        <div class="pos" id="_36:169" style="top:169;left:36">
<span id="_17.2" style="font-weight:bold; font-family:Arial; font-size:17.2px; color:#000000">
Online Transport Service</span>
        </div>
        <div class="pos" id="_36:191" style="top:191;left:36">
<span id="_13.5" style="font-weight:bold; font-family:Arial; font-size:13.5px; color:#000000">
Address: Rupandehi,Bhairahawa</span>
        </div>
        <div class="pos" id="_36:228" style="top:228;left:36">
<span id="_13.5" style="font-weight:bold; font-family:Arial; font-size:13.5px; color:#000000">
Pan No:617611260</span>
        </div>
        <div class="pos" id="_38:356" style="top:356;left:38">
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
Bill TO:</span>
        </div>
        <div class="pos" id="_385:348" style="top:348;left:385">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
  Invoice Number: </span>
        </div>
        <div class="pos" id="_38:375" style="top:375;left:38">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
Customer,Name :</span>
        </div>
        <div class="pos" id="_385:368" style="top:368;left:385">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
     Date: </span>
        </div>
        <div class="pos" id="_38:396" style="top:396;left:38">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Address:</span>
        </div>
        <div class="pos" id="_38:416" style="top:416;left:38">
<span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
Pan No:</span>
        </div>
        <div class="pos" id="_36:460" style="top:460;left:36">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
From:<span style="font-weight:normal"> [Shipper, City, and State]</span></span>
        </div>
        <div class="pos" id="_398:460" style="top:460;left:398">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
 Truck No: </span>
        </div>
        <div class="pos" id="_36:484" style="top:484;left:36">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
     To:<span style="font-weight:normal"> [Consignee, City, and State]</span></span>
        </div>
        <div class="pos" id="_398:481" style="top:481;left:398">
<span id="_15.5" style=" font-family:Arial; font-size:15.5px; color:#000000">
Driver: [Driver Name<span id="_14.2" style=" font-size:14.2px"> ]</span></span>
        </div>
        <div class="pos" id="_398:501" style="top:501;left:398">
<span id="_14.2" style=" font-family:Arial; font-size:14.2px; color:#000000">
Mobile No :</span>
        </div>
        <div class="pos" id="_27:547" style="top:547;left:27">
<span id="_19.4" style="font-weight:bold; font-family:Arial; font-size:19.4px; color:#ffffff">
Activity                                                   Rate                               Amount</span>
        </div>
        <div class="pos" id="_27:604" style="top:604;left:27">
<span id="_14.2" style=" font-family:Arial; font-size:14.2px; color:#000000">
1 truck Shipped/category/booked on(Booking date)</span>
        </div>
        <div class="pos" id="_27:683" style="top:683;left:27">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
In words:</span>
        </div>
        <div class="pos" id="_445:683" style="top:683;left:445">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#000000">
      SubTotal:     </span>
        </div>
        <div class="pos" id="_445:706" style="top:706;left:445">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#000000">
            Tax    :</span>
        </div>
        <div class="pos" id="_445:730" style="top:730;left:445">
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
        </span>
        </div>
        <div class="pos" id="_445:753" style="top:753;left:445">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#000000">
         Total:     </span>
        </div>
    </nowrap>
</nobr>
</body>
</html>