{% extends "admin/index.html" %}
{% load i18n static %}

{% if not is_popup and is_nav_sidebar_enabled %}
    {% block nav-sidebar %}
        {% include "admin/nav_sidebar.html" %}
    {% endblock %}
{% endif %}

<div class="container-fluid">

    <div class="row">
        {% block content %}
            {{ new_users_this_week }}
            <div id="content-main" class="col-sm-8">
                {% include "admin/includes/count_boxes.html" %}
                {% include "admin/includes/dashboard_chart_template.html" with weekdays=weekdays title="New Users last 7 days" data=new_users_this_week %}
                {% include "admin/includes/user_verification.html" %}
                {% include "admin/includes/dashboard_chart_template.html" with weekdays=weekdays title="Bookings last 7 days" data=new_users_this_week %}
            </div>
            <div class="col-sm-4">
                {% block sidebar %}
                    {{ block.super }}
                {% endblock %}
            </div>
        {% endblock %}


    </div>
</div>
